html {
  font-size: 12px;
}
* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}
iframe {
  border: none;
  pointer-events: none;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  font-family: Hack, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  word-wrap: break-word;
  /* background-color: rgba(216, 210, 210, 0.55); */
  background-color: rgba(93, 90, 90, 0.55);
  /* background-image: url("../../img/797E3A3.png");
  background-size: 20%;
  background-attachment: fixed; */
}

.main-container {
}

.ankit {
}

.jump-link {
  font-size: 10em;
}

.image {
  position: fixed;
  /* margin: 0 auto; */
  /* filter: blur(1.5em); */
  filter: blur(1em);
  padding: 10px;
}
.image2 {
  position: fixed;
  margin-left: 30%;
  filter: blur(1.5em);
}
.center2 {
  margin: 0 auto;
  justify-content: center;
  max-width: 70%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.blur-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em;
}
.img {
  /* background-image: url("https://images.are.na/eyJidWNrZXQiOiJhcmVuYV9pbWFnZXMiLCJrZXkiOiIyNjUzMDgvb3JpZ2luYWxfNTM3NGViNjdkMDk0ODZhNjFkNDc4OGI3OWQ5N2E4MWUucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxODAwLCJoZWlnaHQiOjE4MDAsImZpdCI6Imluc2lkZSIsIndpdGhvdXRFbmxhcmdlbWVudCI6dHJ1ZX0sIndlYnAiOnsicXVhbGl0eSI6OTB9LCJyb3RhdGUiOm51bGwsImpwZWciOnsicXVhbGl0eSI6OTB9fX0=?bc=1"); */
  /* background-image: url("../../img/797E3A3.png");
  background-size: 20%;
  background-attachment: fixed; */
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
pre {
  /* padding: 2rem;
  margin: 1.75rem 0;
  background-color: #fff;
  border: 1px solid #ccc; */
  overflow: hidden;
}
code[class*="language-"],
pre[class*="language-"],
pre code {
  font-weight: 100;
  text-shadow: none;
  margin: 1.75rem 0;
}
p {
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #000;
  font-family: soyuz_groteskbold;
}
a {
  background-color: blue;
  color: #fff;
  text-decoration: none;
  /* cursor: pointer;
  color: blue;
  text-decoration: none;
  border-bottom: 1px solid blue; */
}
a {
  background-color: blue;
  color: #fff;
  text-decoration: none;
}
/* a:visited {
  color: blue;
  border-bottom: 1px solid blue;
} */

.red {
  color: #c91b00;
}

.yellow {
  color: #d79921;
}
.blue {
  color: #458588;
}

.school {
  font-family: Hack;
}

/* .y1s {
  background-color: #d79921;
  color: #000;
}
.y1s:hover {
  background-color: blue;
  color: white;
} */

.bg-black {
  background-color: black;
  color: white;
}
.bg-yellow {
  background-color: #d79921;
  color: black;
}

a:hover {
  background-color: #d79921;
  color: black;
}
a:hover:visited {
  background-color: #d79921;
}

.clock-div {
  z-index: -1;
  position: relative;
  padding: 8px;
  position: fixed;
  /* background-color: white; */
}
.name {
  padding-left: 8px;
  margin-top: 40px;
  /* background-color: white; */
}

.email {
  color: white;
}
.email {
  width: auto;
  color: white;
}

.bg-term {
  background-color: transparent;
  color: black;
}

.bg-none {
  background-color: white;
  color: black;
}

.bg-term:hover {
  background-color: #d79921;
  color: #458588;
}

.hack,
.hack blockquote,
.hack code,
.hack em,
.hack h1,
.hack h2,
.hack h3,
.hack h4,
.hack h5,
.hack h6,
.hack strong {
  font-size: 1rem;
  font-style: normal;
}
.hack blockquote,
.hack code,
.hack em,
.hack strong {
  line-height: 20px;
}
.hack blockquote,
.hack code,
.hack footer,
.hack h1,
.hack h2,
.hack h3,
.hack h4,
.hack h5,
.hack h6,
.hack header,
.hack li,
.hack ol,
.hack p,
.hack section,
.hack ul {
  float: none;
  margin: 0;
  padding: 0;
}
.hack blockquote,
.hack h1,
.hack ol,
.hack p,
.hack ul {
  margin-top: 20px;
  margin-bottom: 20px;
}
.hack h1,
.hack h2,
.hack h3,
.hack h4,
.hack h5,
.hack h6 {
  position: relative;
  margin-bottom: 1.75rem;
}
.hack h1:before,
.hack h2:before,
.hack h3:before,
.hack h4:before,
.hack h5:before,
.hack h6:before {
  display: inline;
}
th {
  /* text-align: left; */
  padding: 5px;
}

td {
  padding: 5px;
}

.skills {
  margin: 0 outo;
}

.skilltable {
  margin: 0 auto;
  padding: 2px;
  text-align: center;
}
/* .hack h1:before {
  content: "# ";
}
.hack h2:before {
  content: "## ";
}
.hack h3:before {
  content: "### ";
}
.hack h4:before {
  content: "#### ";
}
.hack h5:before {
  content: "##### ";
}
.hack h6:before {
  content: "###### ";
} */
.hack li {
  position: relative;
  display: block;
  padding-left: 20px;
}
.hack li:after {
  position: absolute;
  top: 0;
  left: 0;
}
.hack ul > li:after {
  /* content: "-"; */
}
.hack ol {
  counter-reset: a;
}
.hack ol > li:after {
  content: counter(a) ".";
  counter-increment: a;
}
.hack ol li:nth-child(n + 10):after {
  left: -7px;
}
.hack em {
  font-style: italic;
}
.hack pre code:after,
.hack pre code:before {
  content: "";
}
.hack code {
  font-weight: 700;
}
.hack code:after,
.hack code:before {
  content: "`";
  display: inline;
}
@-moz-document url-prefix() {
  .hack h1 {
    display: block;
  }
}
.hack-ones ol > li:after {
  content: "1.";
}
p {
  margin: 0 0 1.75rem;
}
.container {
  max-width: 70rem;
  position: relative;
}
.container,
.container-fluid {
  margin: 0 auto;
  padding: 0 1rem;
}
.inner {
  padding: 1rem;
}
.inner2x {
  padding: 2rem;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.highlight .hll {
  background-color: #ffc;
}
.highlight {
  background: #f8f8f8;
}
.highlight .c {
  color: #080;
  font-style: italic;
}
.highlight .err {
  border: 1px solid red;
}
.highlight .k {
  color: #a2f;
  font-weight: 700;
}
.highlight .o {
  color: #666;
}
.highlight .ch,
.highlight .cm {
  color: #080;
  font-style: italic;
}
.highlight .cp {
  color: #080;
}
.highlight .c1,
.highlight .cpf {
  color: #080;
  font-style: italic;
}
.highlight .cs {
  color: #080;
  font-weight: 700;
}
.highlight .gd {
  color: #a00000;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: red;
}
.highlight .gh {
  color: navy;
  font-weight: 700;
}
.highlight .gi {
  color: #00a000;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: navy;
}
.highlight .gp,
.highlight .gs,
.highlight .gu {
  font-weight: 700;
}
.highlight .gu {
  color: purple;
}
.highlight .gt {
  color: #04d;
}
.highlight .kc,
.highlight .kd,
.highlight .kn {
  color: #a2f;
  font-weight: 700;
}
.highlight .kp {
  color: #a2f;
}
.highlight .kr {
  color: #a2f;
  font-weight: 700;
}
.highlight .kt {
  color: #0b0;
  font-weight: 700;
}
.highlight .m {
  color: #666;
}
.highlight .na,
.highlight .s {
  color: #b44;
}
.highlight .nb {
  color: #a2f;
}
.highlight .nc {
  color: #00f;
}
.highlight .no {
  color: #800;
}
.highlight .nd {
  color: #a2f;
}
.highlight .ni {
  color: #999;
  font-weight: 700;
}
.highlight .ne {
  color: #d2413a;
  font-weight: 700;
}
.highlight .nf {
  color: #00a000;
}
.highlight .nl {
  color: #a0a000;
}
.highlight .nn {
  color: #00f;
  font-weight: 700;
}
.highlight .nt {
  color: green;
  font-weight: 700;
}
.highlight .nv {
  color: #b8860b;
}
.highlight .ow {
  color: #a2f;
  font-weight: 700;
}
.highlight .w {
  color: #bbb;
}
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
  color: #666;
}
.highlight .dl,
.highlight .sa,
.highlight .sb,
.highlight .sc {
  color: #b44;
}
.highlight .sd {
  color: #b44;
  font-style: italic;
}
.highlight .s2 {
  color: #b44;
}
.highlight .se {
  color: #b62;
  font-weight: 700;
}
.highlight .sh {
  color: #b44;
}
.highlight .si {
  color: #b68;
  font-weight: 700;
}
.highlight .sx {
  color: green;
}
.highlight .sr {
  color: #b68;
}
.highlight .s1 {
  color: #b44;
}
.highlight .ss {
  color: #b8860b;
}
.highlight .bp {
  color: #a2f;
}
.highlight .fm {
  color: #00a000;
}
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
  color: #b8860b;
}
.highlight .il {
  color: #666;
}
butterfly {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: block;
  transform: translate(-100px, -100px);
  pointer-events: none;
}
butterfly [data-hidden="true"] {
  opacity: 0;
}
wing {
  display: block;
  position: absolute;
  top: 0;
  width: 50%;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: contain;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
wing[data-side="left"] {
  transform-origin: center right;
  animation-name: flap-left;
  left: 0;
}
wing[data-side="right"] {
  transform-origin: center left;
  animation-name: flap-right;
  right: 0;
  transform: scaleX(-1);
}
.wind {
  margin-bottom: 0;
}
@keyframes flap-left {
  0% {
    transform: rotateY(0deg);
  }
  30% {
    transform: rotateY(-60deg);
  }
  60% {
    transform: rotateY(60deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes flap-right {
  0% {
    transform: rotateY(0deg);
  }
  30% {
    transform: rotateY(60deg);
  }
  60% {
    transform: rotateY(-60deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.round {
  border-radius: 1em;
  overflow: hidden;
}

.clockcontainer {
  width: 50;
  height: 50;
}
.clock {
  fill: transparent;
  /* stroke: currentColor; */
  stroke: #458588;
  height: auto;
  width: 1.5rem;
}
.clock .surface {
  stroke-width: 4px;
}
.clock .h_pointer {
  stroke-width: 4px;
}
.clock .m_pointer {
  stroke-width: 4px;
  stroke: currentColor;
}
.clock .s_pointer {
  stroke-width: 4px;
  /* stroke: red; */
  stroke: #d79921;
}
.clock.-large {
  width: 50px;
  height: 50px;
}
.clock.-large .surface {
  stroke-width: 1px;
}
.clock.-large .h_pointer {
  stroke-width: 1px;
  stroke: red;
}
.clock.-large .m_pointer {
  stroke-width: 1px;
  stroke: black;
}
.clock.-large .s_pointer {
  stroke-width: 1px;
  stroke: #d79921;
}
.clock.-small {
  width: 1.1rem;
}
.clock.-small .surface {
  stroke-width: 5px;
}
.clock.-small .h_pointer {
  stroke-width: 5px;
}
.clock.-small .m_pointer {
  stroke-width: 5px;
}
.clock.-small .s_pointer {
  stroke-width: 5px;
  stroke: red;
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

@media only screen and (min-width: 1000px) {
  /* Styles */

  .name {
    z-index: -1;
    padding: 8px;
    position: fixed;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
